@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default light background */
  --foreground: #ffffff; /* Default light text (black) */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff; /* Dark mode background */
    --foreground: #ffffff; /* Dark mode text (white) */
  }
}

body {
  background: var(--background); /* Dynamically set background color */
  color: '#00000' !important; /* Dynamically set text color */
  font-family: Arial, Helvetica, sans-serif;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Loading screen styles */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.loading-image {
  max-width: 300px; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 20px;
}

.loading-text {
  font-size: 24px;
  color: #0070f3;
  text-align: center;
}

