@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default light background */
  --foreground: #000000; /* Default light text (black) */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ffffff; /* Dark mode text (white) */
  }
}

body {
  background: var(--background); /* Dynamically set background color */
  color: var(--foreground); /* Dynamically set text color */
  font-family: Arial, Helvetica, sans-serif;
}
